@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Silkscreen&display=swap');


html {
    font-family: Poppins;
    scroll-behavior: smooth;
    background: #cad2c5;
}


* {
    margin:0;
	padding:0;
	box-sizing: border-box;
}


.header {
    padding: 20px;
    font-size: 64px;
    color: #313131;
    text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-family: 'Poppins', sans-serif;
}
.wrapper {
    padding-left: 40%;
	width: 1152px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
	position: relative;

}
.round-1 {
	position: absolute;
	top: 42%;
	left: 32%;
	width: 13em;
	height: 13em;
	border-radius: 50%;
	box-shadow: 0 0 50px #D84869;
	background: linear-gradient(-25deg, #D84869, #F46641);
}
.round-2 {
	position: absolute;
	top: 50%;
	right: 23%;
	width: 19em;
	height: 19em;
	border-radius: 50%;
	box-shadow: 0 0 50px #5622FF;
	background: linear-gradient(180deg, #5622FF, #4190FD);
}
.box {
    margin-right: 30px;
	width: 350px;
	height: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ffffff1a;
	backdrop-filter: blur(20px);
	padding: 1.5em;
	border-radius: 25px;
	border: 2px solid #ffffff30;
	box-shadow: 0 0 30px #0000002a;
	text-align: center;
}
.box h2 {
	color: #363636;
	text-transform: capitalize;
	margin: 15px 0;
}
.box h2 span {
	display: block;
	font-size: 15px;
	font-weight: 300;
	text-transform: capitalize;
}
.box p {
	color: #1f1f1f;
	font-size: 14px;
}
.socials {
	margin-top: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.socials div {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 45px;
	color: #fff;
	margin: 0 5px;
}
.socials div.a1 {
	background: #3b5998;
}
.socials div.a2 {
	background: #55acee;
}
.socials div.a3 {
	background: #F77737;
}
.socials div.a4 {
	background: #e41300;
}
.socials i {
	font-size: 20px;
}
.profile-img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
	object-fit: cover;
}
.profile-img img {
	width: 100%;
}

@media screen and (max-width: 1000px) {
    .wrapper {
      width: 70%;
      display: flex;
      flex-flow: wrap;
      padding: 0;
      margin-left: 175px;
    }
  
    .box {
        margin-bottom: 20px;
      padding: 20px;
      font-size: 20px;
      width: 40%;
    }
  }

@media screen and (max-width: 757px) {
    .wrapper {
      width: 100%;
      display: flex;
      flex-flow: wrap;
      padding: 0;
      margin-left: 15px;
    }
  
    .box {
        margin-bottom: 20px;
      padding: 20px;
      font-size: 20px;
      width: 80%;
    }
  }

/* Footer */

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 300px;
   padding: 0 50px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #4661fa;
	height: 2px;
	box-sizing: border-box;
	width: 130px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


